#root {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.btn-primary {
  border-radius: 1.7em;
  padding: 1em 1.5em;
  border: none;
}

.btn-secondary {
  padding: 0.5em 1em;
  background: none;
  border: none;
}

.App__top.btn-primary {
  background-color: #005FF7;
  color: var(--primary-light-color);
}

.App__top.btn-secondary:hover {
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

.App__top.btn-primary:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

@media (prefers-color-scheme: light) {
  .App__top.btn-primary:hover {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
  }
}