#root {
  width: 100%;
}

.btn-primary {
  border-radius: 1em;
  padding: 0.5em 1em;
}

.btn-secondary {
  padding: 0.5em 1em;
}

.App__top.btn-primary {
  background-color: #005FF7;
  color: var(--primary-light-color);
}

.App__top.btn-secondary {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.App__top.btn-primary:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

@media (prefers-color-scheme: light) {
  .App__top.btn-primary:hover {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
  }
}